@model BeerSnob.Models.BeerViewModel


@{
    ViewBag.Title = "Details";
}

<h2>99 bottles of beer on the wall.  Take one down, pass it around...</h2>


<table class="table table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th>
                @Html.HiddenFor(model => model.BeerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhereTried)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhenTried)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Style)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PercentABV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>

    <tr>
        <td>
            @Html.HiddenFor(model => model.BeerId)
        </td>
        <td>
            @Html.DisplayFor(model => model.BeerName)
        </td>
        <td>
            @Html.DisplayFor(model => model.WhereTried)
        </td>
        <td>
            @Html.DisplayFor(model => model.WhenTried)
        </td>
        <td>
            @Html.DisplayFor(model => model.Country)
        </td>
        <td>
            @Html.DisplayFor(model => model.Style)
        </td>
        <td>
            @Html.DisplayFor(model => model.PercentABV)
        </td>
        <td>
            @Html.DisplayFor(model => model.Rating)
        </td>
        <td>
            @Html.DisplayFor(model => model.Description)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id = Model.BeerId }) ||
            @Html.ActionLink("Delete", "Delete", new { id = Model.BeerId })
        </td>*@
    </tr>
</table>


@Html.ActionLink("Back to List", "Index")
